<!-- floating shopping cart
<button style="position:fixed; right:100px; top:100px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 購物車</button>
-->

<div class="container">
  <div ng-show="ctrler.products.length === 0" class="form-group text-center">
    <label>目前沒有任何商品 請新增商品</label>
  </div>

  <!-- dont directly apply listTo2DMat filter to ng-repeat expression here. 
    it's unstable -->
  <div class="row" ng-repeat="productsPerRow in ctrler.products">
    <div class="col-md-4" ng-repeat="product in productsPerRow track by product._id" ng-include="'product-edit-layout-v1.html'"></div>
  </div>
</div> <!-- .container -->

<style>
  form#pEditModalForm div.product-info-row {
    display: flex; align-items: center;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }

</style>

<!-- templates start -->
<script type="text/ng-template" id="product-edit-modal.html">
<div class="modal-body">
  <form id="pEditModalForm" name="pEditModalForm">
  <fieldset>

    <div class="form-group product-info-row">
      <label class="col-md-4 text-right">商品類型</label>
      <div class="col-md-5">
        <select ng-model="ctrler.product.pType" ng-change="ctrler.pTypeSelect()" style="min-height:2em; min-width:5em;" required>
          <option ng-repeat="pTypeVal in ctrler.pTypeVals track by pTypeVal._id" ng-value="pTypeVal">{{::pTypeVal.name}}</option>  
        </select>
      </div>
    </div>

    <div class="form-group product-info-row">
      <label class="col-md-4 text-right">商品編號</label>
      <div class="col-md-5">
        <input name="pid" ng-model="ctrler.product.pid" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md" required>
      </div>
    </div>

    <div class="form-group product-info-row">
      <label class="col-md-4 text-right">商品名稱</label>
      <div class="col-md-5">
        <input name="productName" ng-model="ctrler.product.name" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md" required>
      </div>
    </div>

    <div class="form-group product-info-row">
      <label class="col-md-4 text-right">每包重量</label>
      <div class="col-md-5">
        <input name="productWeight" ng-model="ctrler.product.weight" ng-model-options="{ debounce: 200 }" type="number" placeholder="" class="form-control input-md" ng-min="0" required>
      </div>
    </div>    

    <div class="form-group product-info-row">
      <label class="col-md-4 text-right">定價</label>
      <div class="col-md-5">
        <input name="marketPrice" ng-model="ctrler.product.marketPrice" ng-model-options="{ debounce: 200 }" type="number" placeholder="" class="form-control input-md" ng-min="0" required>
      </div>
    </div>

    <div class="form-group product-info-row">
      <label class="col-md-4 text-right">兌換價</label>
      <div class="col-md-5">
        <input name="exchangePrice" ng-model="ctrler.product.exchangePrice" ng-model-options="{ debounce: 200 }" type="number" placeholder="" class="form-control input-md" ng-min="0">
      </div>
    </div>
    
    <div class="form-group product-info-row">
      <label class="col-md-4 text-right">上架日期</label>
      <div class="col-md-5 input-group">
        <input type="text" style="margin-left:15px;" class="form-control input-md" uib-datepicker-popup="yyyy/MM/dd" ng-model="ctrler.product.startSaleDate" is-open="ctrler.saleDateSelOpened" required close-text="關閉" clear-text="清除" current-text="今天"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="ctrler.saleDateSelOpened=true;"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
    </div>

    <div class="form-group product-info-row">
      <label class="col-md-4 text-right">是否上架</label>
      <div class="col-md-3" style="padding-bottom:12px;">
        <input type="checkbox" class="col-md-12" ng-model="ctrler.product.canSale">
      </div>
    </div>

    <div class="form-group product-info-row">
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-success" ng-click="ctrler.ok()" ng-disabled="pEditModalForm.$invalid">{{::ctrler.product._id? '更新':'增加' }}</button>
        <button class="btn btn-warning" ng-click="ctrler.cancel()">取消</button>
      </div>
    </div>

  </fieldset>
  </form>
</div>
</script>

<!-- product layout -->
<script type="text/ng-template" id="product-edit-layout-v1.html">
  <form name="pManageForm" class="well">
    <div class="form-group">

      <div class="product-info-row">
        <label class="col-md-5">商品類型</label>
        <div>
        <label>{{product.pType.name}}</label>
        </div>
      </div>

      <div class="product-info-row">
        <label class="col-md-5">商品編號</label>
        <div>
          <label>{{product.pid}}</label>
        </div>
      </div>

      <div class="product-info-row">
        <label class="col-md-5">商品名稱</label>
        <div>
          <label>{{product.name}}</label>
        </div>
      </div>
<!--
      <div class="product-info-row">
        <label class="col-md-5">每包重量</label>
        <div>
          <label>{{product.weight}}kg</label>
        </div>
      </div>
-->
      <div class="product-info-row">
        <label class="col-md-5">定價</label>
        <div>
          <label>{{product.marketPrice}}</label>
        </div>
      </div>

      <div class="product-info-row">
        <label class="col-md-5">兌換價</label>
        <div>
          <label>{{product.exchangePrice}}</label>
        </div>
      </div>
      
      <div class="product-info-row">
        <label class="col-md-5">上架日期</label>
        <div>
          <label>{{product.startSaleDate | date : 'yyyy/MM/dd'}}</label>
        </div>
      </div>
<!--
      <div class="product-info-row">
        <label class="col-md-5">是否上架</label>
        <label>{{product.canSale? '是':'否'}}</label>
      </div>
-->
    </div>

    <div class="form-group btn-ground text-center">
        <button ng-click="ctrler.openProductEditModal(product)" type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> 修改</button>
        <button ng-click="ctrler.deleteProduct(product)" type="button" class="btn btn-danger"><i class="fa fa-remove"></i> 移除</button>
    </div>
  </form>  
</script>
<!-- templates end -->