<!-- floating shopping cart
<button style="position:fixed; right:100px; top:100px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 購物車</button>
-->

<div class="container">
  <div ng-show="ctrler.productList.length === 0" class="form-group text-center">
    <label>目前沒有可販售的商品</label>
  </div>

  <table id="saleable-product-table" style="margin: 0px auto 10px;" ng-hide="ctrler.productList.length === 0" class="table table-bordered table-responsive">
    <thead>
        <th class="text-center" style="width: 10%">類型</th>
        <th class="text-center" style="width: 15%">編號</th>
        <th class="text-center" style="width: 15%">名稱</th>
        <th class="text-center" style="width: 20%">價格</th>
        <th class="text-center" style="width: 14%">包數</th>
        <th class="text-center" style="width: 12%">操作</th>
    </thead>
    <tbody>
      <tr ng-repeat="product in ctrler.productList track by product._id">
        <td>{{product.pType.name}}</td>
        <td>{{product.pid}}</td>
        <td>{{product.name}}</td>
        <td>
          <table class="product-price-table table-responsive table-condensed table-striped" style="margin-left:2%; text-align: left;">
              <tr ng-hide="product.isInCart && product.price===product.exchangePrice">
                <td><label class="price-selector"><input type="radio" class="price-radio" ng-value="product.marketPrice" ng-model="product.price" ng-hide="product.isInCart">定價</label></td> 
                <td style="padding-left:10px;">{{::product.marketPrice}} 元</td>
              </tr>
              <tr ng-hide="product.isInCart && product.price===product.marketPrice">
                <td><label class="price-selector"><input type="radio" class="price-radio" ng-value="product.exchangePrice" ng-model="product.price" ng-hide="product.isInCart">兌換價</label></td> 
                <td style="padding-left:10px;">{{::product.exchangePrice}} 元</td>
              </tr>
          </table>
        </td>
        <td>
          <div class="input-group" ng-hide="product.isInCart">
            <span class="input-group-btn">
              <button class="btn btn-default btn-info" ng-click="ctrler.changeQty(product,-1);"><span class="fa fa-minus"></span></button>
            </span>
            <input type="number" name="qty" ng-model="product.quantity" ng-model-options="{ debounce: 200 }" class="form-control text-center" min="1" required>
            <span class="input-group-btn">
              <button class="btn btn-default btn-info" ng-click="ctrler.changeQty(product,1);"><span class="fa fa-plus"></span></button>
            </span>
          </div>
          <label class="text-center" ng-show="product.isInCart">{{product.quantity}} 包</label>
        </td>
        <td>
          <button ng-hide="product.isInCart" ng-click="ctrler.addItemToCart(product)" ng-disabled="pForm.$invalid" type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> 加到購物車</button>
          <button ng-show="product.isInCart" ng-click="ctrler.rmItemFromCart(product)" type="button" class="btn btn-danger"><i class="fa fa-times"></i> 從購物車移除</button>
        </td>
      </tr>
    </tbody>
  </table>

</div> <!-- .container -->

<style>
  table#saleable-product-table {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
  }

  table#saleable-product-table td {
    display: table-cell;
    vertical-align: middle;
  }

  /* hide input number's arrows */
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      margin: 0; 
  }
  
  input[type=number] {
      -moz-appearance:textfield;
  }

  .product-price-table input.price-radio, 
  form#cart-form input.opt-radio {
    width:0.85em; height:0.85em;
  }

  table.product-price-table {
    padding: 0;
  }

  table.product-price-table .price-selector {
    padding-top: 5px;
  }

  table.product-price-table td.price-col {
    padding-left: 1em; 
  }

  form.product-preview-form div.product-info-row {
    display: flex; align-items: center;
  }

  .balance-not-enough {
    color: red;
  }

</style>

<!-- templates start -->

<!-- checkout modal -->
<script type="text/ng-template" id="cart-and-checkout.html">

<div class="form-group text-center modal-body" ng-show="ctrler.cartEmpty()">
<h3>購物車目前是空的</h3>
<button type="button" class="btn btn-primary" ng-click="ctrler.cancel()">關閉</button>
</div>

<form name="cartForm" class="modal-body" id="cart-form" ng-hide="ctrler.cartEmpty()">
        <section>
        <h4>購物車資訊</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>商品</th>
                    <th class="text-center">數量</th>
                    <th class="text-center">單價</th>
                    <th class="text-center">總價</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrler.cartItems track by item._id">
                    <td style="width: 30%;">
                      <div class="media">
                          <!--
                          <img class="img-responsive" ng-src="{{::item.image}}" alt="" style="float:left; max-width: 100px; max-height: 100px;">
                          -->
                          <div class="media-body">
                              <h4 class="media-heading">{{::item.name}}</h4>
                              <!--<span>每包重: {{::item.weight}} kg</span>-->
                          </div>
                      </div>
                    </td>
                    
                    <td style="width: 22%;" class="text-center">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-info" ng-click="ctrler.changeQty(item,-1);"><span class="fa fa-minus"></span></button>
                      </span>
                      <input type="number" name="qty" ng-model="item.quantity" ng-model-options="{ debounce: 200 }" ng-change="ctrler.saveCart()" class="form-control text-center" min="1" required>
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-info" ng-click="ctrler.changeQty(item,1);"><span class="fa fa-plus"></span></button>
                      </span>
                    </div>
                    </td>
                    
                    <td style="width: 18%;" class="text-center">
                    <strong>{{::item.price}}</strong>
                    </td>
                    
                    <td style="width: 20%;" class="text-center">
                    <strong>{{item.getTotal()}}</strong>
                    </td>

                    <td style="width: 10%;" class="text-center">
                    <button ng-click="ctrler.rmItemFromCart(item)" class="btn btn-danger"><i class="fa fa-times"></i> 移除</button>
                    </td>

                  </tr>
            </tbody>
        </table>
        
        <!-- subtotal(not including tax, shipping cost)-->
        <div class="form-group">
        <h3 class="text-right">合計 <strong>{{ctrler.getTotalPrice()}}元</strong></h3>
        </div>
        </section>
        
        <div uib-alert ng-repeat="alert in ctrler.alerts track by $index" ng-class="'alert-' + (alert.type || 'warning')" dismiss-on-timeout="3000" close="ctrler.alerts.splice(ctrler.alerts.indexOf(alert),1);">{{::alert.msg}}</div>

        <!-- account data -->
        <section class="row form-group" style="width:100%; margin: 0px;" ng-init="ctrler.accountSrcOpt='viaCachedList';">
          <!-- hidden inputs for form validation-->
          <input type="hidden" name="accountData" ng-model="ctrler.selectedAccount" required>
          
          <h4>存摺資訊</h4>
          
          <div class="form-group">
            <label><input type="radio" class="opt-radio" value="viaCachedList" ng-model="ctrler.accountSrcOpt" ng-change="ctrler.selectedAccount=null;">使用暫存列表</label>
            <label><input type="radio" class="opt-radio" value="viaAccountID" ng-model="ctrler.accountSrcOpt" ng-change="ctrler.selectedAccount=null;">輸入存摺編號</label>
          </div>

          <!-- cache list UI -->
          <div ng-show="ctrler.isViaCachedList()" class="form-group">
            <div class="container">
              <div class="row">
                <label>農民：</label>
                <select style="min-width:5em;" ng-model="ctrler.selectedFarmer" ng-change="ctrler.farmerSelected()">
                  <option ng-repeat="farmer in ctrler.cachedFarmers track by farmer.pid" ng-value="farmer">{{::farmer.name}}</option>
                </select>
              </div>
              <div class="row">
                <label>存摺：</label>
                <select style="min-width:9em;" ng-model="ctrler.selectedAccount" ng-change="ctrler.accountSelected()">
                  <option ng-repeat="account in ctrler.accounts track by account._id" ng-value="account">{{::account.accountID}}</option>
                </select>
                <button type="button" style="margin-left:5px;" class="btn btn-primary" ng-click="ctrler.updateAccountsInfo()" ng-disabled="ctrler.isUpdatingAccount">更新存摺資訊</button>
              </div>
            </div>
          </div>
          
          <!-- account ID UI -->
          <div ng-show="ctrler.isViaAccountID()" class="form-group">
            <label>存摺編號：</label>
            <input type="text" name="inputAccID" ng-model="ctrler.inputAccID" ng-trim="true" ng-keypress="ctrler.keyPressedInAccIDInput($event)">
            <button ng-click="ctrler.setSelectedAccount()" class="btn btn-primary" style="margin-left:5px;" ng-disabled="ctrler.isUpdatingAccount">設定</button>
          </div>
          
          <div class="form-group">
          <table class="table table-bordered pull-right" style="width: 50%;" ng-show="ctrler.selectedAccount" >
            <tr>
              <td>存摺</td>
              <td>{{ctrler.selectedAccount.accountID}}</td>
            </tr>
            <tr>
              <td>當前餘額</td>
              <td><span ng-class="{ 'balance-not-enough': ctrler.isBalanceNotEnough() }">{{ctrler.selectedAccount.balance}}</span></td>
            </tr>
            <tr ng-show="ctrler.getAfterBalance() > 0">
              <td>兌換後餘額</td>
              <td>{{ctrler.getAfterBalance()}}</td>
            </tr>
          </table>
          </div>
          
        </section>

        <!-- buttons -->
        <section class="row form-group text-right" style="margin:0px;">
          <button type="button" class="btn btn-danger pull-left" ng-click="ctrler.cancel('clear')"><span class="fa fa-remove"></span> 清空購物車</button>
          <button type="button" class="btn btn-primary" ng-click="ctrler.cancel()"><span class="fa fa-shopping-cart"></span> 繼續購物</button>
          <button type="button" class="btn btn-success" ng-disabled="cartForm.$invalid" ng-click="ctrler.checkout()">結帳 <span class="fa fa-play"></span></button>
        </section>
    
</form>
</script>

<script type="text/ng-template" id="checkout-result.html">
  <div class="modal-header">
    <h4 class="modal-title">兌換成功,以下為此次明細</h4>
  </div>
  <div class="modal-body">
      <section class="row form-group" style="padding:0px 10px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>品號</th>
                    <th>品名</th>
                    <th class="text-center">數量</th>
                    <th class="text-center">單價</th>
                    <th class="text-center">總價</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrler.transactedItems track by item.pid">
                    <td style="width: 20%;">
                        <label>{{::item.pid}}</label>    
                    </td>
                    <td style="width: 25%;">
                        <label>{{::item.name}}</label>    
                    </td>
                    <td style="width: 17%;" class="text-center">
                        <label>{{::item.qty}}</label>
                    </td>
                    
                    <td style="width: 17%;" class="text-center">
                    <strong>{{::item.price}}</strong>
                    </td>
                    
                    <td style="width: 21%;" class="text-center">
                    <strong>{{::(item.qty * item.price)}}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
      </section>
      <section class="row form-group" style="padding:0px 10px;">
        <table class="table table-bordered pull-right" style="width: 50%;">
          <tr>
            <td>農民</td>
            <td>{{::ctrler.account.farmer.name}}</td>
          </tr>
          <tr>
            <td>存摺</td>
            <td>{{::ctrler.account.accountID}}</td>
          </tr>
          <tr>
            <td>此次花費</td>
            <td>{{::ctrler.total}}</td>
          </tr>
          <tr>
            <td>餘額</td>
            <td>{{::ctrler.account.balance}}</td>
          </tr>
        </table>
      </section>
      <section class="row form-group text-right" style="margin:0px;">
          <button type="button" class="btn btn-primary" ng-click="ctrler.cancel()">關閉</button>
      </section>
  </div>
</script>

<!-- templates end -->