<style>
table#account-rec-table tr.editting {
    background-color: #9ce1f4;
}
</style>
<div style="height:2em; margin-top:7px; margin-bottom:0px; " class="flex-row">
    <h4 ng-click="ctrler.isAccRecTableCollapsed=!ctrler.isAccRecTableCollapsed;">存摺記錄 <i ng-hide="ctrler.isAccRecTableCollapsed" class="fa fa-chevron-down"></i><i ng-show="ctrler.isAccRecTableCollapsed" class="fa fa-chevron-up"></i></h4>
    <!-- pager -->
    <ul uib-pagination total-items="ctrler.totalAccRecs" ng-model="ctrler.curPage" max-size="5" items-per-page="ctrler.perPage" class="pagination-sm" boundary-links="true" num-pages="numPages" style="margin: 15px;" next-text="下一頁" previous-text="上一頁" last-text="最終頁" first-text="最初頁" ng-change="ctrler.getAccountRecords();"></ul>
</div>
<div class="flex-row" style="margin-top:3px; margin-bottom:3px;">
    <label>過濾條件</label>
    <input style="margin: 10px;" type="checkbox" ng-change="ctrler.filterChange()" ng-model="ctrler.applyOpTypeFilter" ng-model-options= "{ debounce: 200 }">
    <span style="margin-right:5px;">類別</span><select style="width: 10%;" ng-change="ctrler.opTypeFilterSelected();ctrler.filterChange();" ng-model="ctrler.opTypeFilter" ng-model-options= "{ debounce: 200 }" ng-options="option.value as option.name for option in ctrler.opTypes track by option.value">
    </select>
    <input style="margin: 10px;" type="checkbox" ng-change="ctrler.filterChange()" ng-model="ctrler.applyDateFilter" ng-model-options= "{ debounce: 200 }">
    <span style="margin-right:5px;">起</span>
    <div class="input-group" style="width: 20%;">
        <input type="text" class="form-control input-md" uib-datepicker-popup="yyyy/MM/dd" ng-change="ctrler.datePickerChange();ctrler.filterChange();" ng-model="ctrler.startDateFilter" ng-model-options= "{ debounce: 200 }" is-open="ctrler.startDateSelOpened" close-text="關閉" clear-text="清除" current-text="今天"/>
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="ctrler.startDateSelOpened=true;"><i class="fa fa-calendar"></i></button>
        </span>
    </div>
    <span style="margin-left:5px; margin-right:5px;">迄</span>
    <div class="input-group" style="width: 20%;">
        <input type="text" class="form-control input-md" uib-datepicker-popup="yyyy/MM/dd" ng-change="ctrler.datePickerChange();ctrler.filterChange();" ng-model="ctrler.endDateFilter" ng-model-options= "{ debounce: 200 }" is-open="ctrler.endDateSelOpened" close-text="關閉" clear-text="清除" current-text="今天"/>
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="ctrler.endDateSelOpened=true;"><i class="fa fa-calendar"></i></button>
        </span>
    </div>
</div>
<div uib-collapse="ctrler.isAccRecTableCollapsed">
    <table class="table table-bordered table-responsive" style="margin-bottom:0px;" id="account-rec-table">
        <thead>
            <tr>
            <th style="width:9%">日期</th>
            <th style="width:8%">類別</th>
            <th ng-show="ctrler.showAccField" style="width:15%">存摺</th>
            <th style="width:10%">金額</th>
            <th style="width:15%">對口帳戶</th>
            <th style="width:9%">期別</th>
            <th ng-show="ctrler.showOperatorField" style="width:9%">操作員</th>
            <th style="width:20%">備註</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="accountRec in ctrler.accountRecs track by accountRec._id" ng-class="{ 'editting': ctrler.edittingRec._id === accountRec._id }">
            <td>{{accountRec.date | date:'yyyy/MM/dd'}}</td>
            <td> <!-- Single button -->
                <div ng-show="ctrler.isActCountZero(accountRec)">{{accountRec.opType.name}}</div>
                <div uib-dropdown uib-dropdown-toggle ng-hide="ctrler.isActCountZero(accountRec)">
                <div class="clickable">{{accountRec.opType.name}} <span class="caret"></span></div>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-show="ctrler.hasAct(accountRec, 'delete')" role="menuitem"><a ng-click="ctrler.deleteRec(accountRec)">刪除</a></li>
                    <li ng-show="ctrler.hasAct(accountRec, 'update')" role="menuitem"><a ng-click="ctrler.selectEdittingRec(accountRec)">修改</a></li>
                    <li ng-show="ctrler.hasAct(accountRec, 'detail')" role="menuitem"><a ng-click="ctrler.selectEdittingRec(accountRec, true)">明細</a></li>
                    <li ng-show="ctrler.hasAct(accountRec, 'download')" role="menuitem"><a ng-click="ctrler.downloadRecPDF(accountRec)">下載</a></li>
                </ul>
                </div>
            </td>
            <td ng-show="ctrler.showAccField">{{accountRec.account.accountID}}</td>
            <td>{{accountRec.amount}}</td>
            <td>{{accountRec.ioAccount}}</td>
            <td>{{accountRec.period.name}}</td>
            <td ng-show="ctrler.showOperatorField">{{accountRec.operator.name}}</td>
            <td>{{accountRec.comment}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="acc-rec-edit.html">
<style>
div#acc-rec-edit-modal .flex-row {
    display: flex; align-items: center;
    margin-bottom:10px;
}

div#acc-rec-edit-modal input[type=number]::-webkit-inner-spin-button, 
div#acc-rec-edit-modal input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}

div#acc-rec-edit-modal input[type=number] {
    -moz-appearance:textfield;
}
</style>
<form name="accountOpForm">
    <div class="modal-body" id="acc-rec-edit-modal">
        <div ng-hide="ctrler.edittingRec">
            請點選一個存摺記錄的類別項目以進行修改
        </div>

        <div ng-show="ctrler.edittingRec">

            <div class="container" ng-hide="ctrler.edittingRec.opType.value==='transact'">
                <div class="flex-row"  ng-show="ctrler.edittingRec.opType.value==='withdraw' || ctrler.edittingRec.opType.value==='deposit'">
                    <label class="col-md-2">金額</label>
                    <input type="number" name="editRecAmount" ng-model="ctrler.edittingRec.amount" ng-trim="true" required>
                </div>
                <div class="flex-row" ng-show="ctrler.edittingRec.opType.value==='withdraw' || ctrler.edittingRec.opType.value==='deposit'">
                    <label class="col-md-2">對口帳戶</label>
                    <input type="text" ng-model="ctrler.edittingRec.ioAccount" ng-trim="true">
                </div>
                <div class="flex-row" ng-show="ctrler.edittingRec.opType.value==='deposit'">
                    <label class="col-md-2">期別</label>
                    <input type="text" name="editRecPeriod" ng-model="ctrler.edittingRec.period" ng-trim="true" typeahead-no-results="ctrler.noPeriodFound" typeahead-loading="ctrler.loadingPeriod" uib-typeahead="period.name for period in ctrler.getPeriods($viewValue)" ng-model-options= "{ debounce: { default: 700 } }">
                    <i ng-show="ctrler.loadingPeriod" class="glyphicon glyphicon-refresh">搜尋中</i>
                    <div ng-show="ctrler.noPeriodFound">
                    <i class="glyphicon glyphicon-remove"></i> 沒找到相關期別
                    </div>
                </div>
                <div class="flex-row">
                    <label class="col-md-2">備註</label>
                    <div>
                    <textarea rows="5" ng-model="ctrler.edittingRec.comment" ng-model-options="{ updateOn: 'blur' }" style="resize: none;" ng-trim="true"></textarea>
                    </div>
                </div>
            </div>

            <div ng-show="ctrler.edittingRec.products">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>商品</th>
                            <th class="text-center">數量</th>
                            <th class="text-center">單價</th>
                            <th class="text-center">總價</th>
                            <th ng-hide="ctrler.edittingRec.readOnly" class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrler.edittingRec.products track by item.pid">
                            <td style="width: 30%;">
                            <label>{{::item.name}}</label>
                            </td>
                            
                            <td style="width: 22%;" class="text-center">
                            <div class="input-group" ng-hide="ctrler.edittingRec.readOnly">
                                <span class="input-group-btn">
                                <button class="btn btn-default btn-info" ng-click="ctrler.changeQty(item,-1);"><span class="fa fa-minus"></span></button>
                                </span>
                                <input type="number" name="editRecItemQty" ng-model="item.qty" ng-model-options="{ debounce: 200 }" class="form-control text-center" min="1" required>
                                <span class="input-group-btn">
                                <button class="btn btn-default btn-info" ng-click="ctrler.changeQty(item,1);"><span class="fa fa-plus"></span></button>
                                </span>
                            </div>
                            <div ng-show="ctrler.edittingRec.readOnly">
                                <strong>{{item.qty}}</strong>
                            </div>
                            </td>
                            
                            <td style="width: 18%;" class="text-center">
                                <strong ng-show="ctrler.edittingRec.readOnly">{{item.price}}</strong>
                                <input style="width: 100%;" type="number" ng-hide="ctrler.edittingRec.readOnly" ng-model="item.price">
                            </td>
                            
                            <td style="width: 20%;" class="text-center">
                            <strong>{{item.price * item.qty}}</strong>
                            </td>
        
                            <td style="width: 10%;" class="text-center" ng-hide="ctrler.edittingRec.readOnly">
                            <button ng-click="ctrler.rmItem(item)" class="btn btn-danger"><i class="fa fa-times"></i> 移除</button>
                            </td>
        
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                <h4>合計:{{ctrler.getTotal()}}</h4>
                </div>
            </div>
        
        </div>

    </div>

    <div class="modal-footer text-center">
        <button ng-click="ctrler.updateRec()" class="btn btn-success" ng-disabled="ctrler.isUpdateRecButtonDisabled()">修改</button>
        <button class="btn btn-warning" type="button" ng-click="ctrler.cancel()">取消</button>
    </div>

</form>
</script>