<style>
form#aw-submit-form input[type=number]::-webkit-inner-spin-button, 
form#aw-submit-form input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}

form#aw-submit-form input[type=number] {
    -moz-appearance:textfield;
}
div#aw-submit-page .flex-row {
    display: flex; align-items: center;
}
</style>
<div id="aw-submit-page" class="container">
        <h3>進行年度結清</h3>
    <form name="awSubmitForm" id="aw-submit-form">
        <div class="flex-row" style="margin-bottom:10px;">
            <label style="width: 20%;">摘要代碼（3位數字）</label>
            <input name="code" type="number" ng-model="ctrler.code" ng-model-options="{ debounce : 200 }" required ng-minlength="3" ng-maxlength="3">
        </div>
        <div class="flex-row" style="margin-bottom:10px;">
            <label style="width: 20%;">結清日期</label>
            <div class="input-group" style="width:20%;">
                <input type="text" name="doAWDate" class="form-control input-md" uib-datepicker-popup="yyyy/MM/dd" ng-model="ctrler.doAWDate" is-open="ctrler.doAWDateSelOpened" required close-text="關閉" clear-text="清除" current-text="今天"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrler.doAWDateSelOpened=true;"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" ng-click="ctrler.doAW()" ng-disabled="ctrler.isProcessing || awSubmitForm.code.$invalid || awSubmitForm.doAWDate.$invalid">進行</button>
        </div>
        <div ng-show="ctrler.checkCode">資料核證總數:{{ctrler.checkCode}}</div>

        <h3>撤銷年度結清</h3>
        <div class="flex-row">
            <label style="width: 20%;">年度</label>
            <div class="input-group" style="width:20%;">
                <input type="text" name="cancelAWDate" class="form-control input-md" uib-datepicker-popup="yyyy" datepicker-options="{ datepickerMode: 'year', minMode: 'year', showWeeks: false }" ng-model="ctrler.cancelAWDate" is-open="ctrler.cancelAWDateSelOpened" required close-text="關閉" clear-text="清除" current-text="今年"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrler.cancelAWDateSelOpened=true;"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" ng-click="ctrler.cancelAW()" ng-disabled="ctrler.isProcessing || awSubmitForm.cancelAWDate.$invalid">撤銷</button>
        </div>
        <h3>下載年度結清媒體檔</h3>
        <div class="flex-row" style="margin-bottom:10px;">
            <label style="width: 20%;">摘要代碼（3位數字）</label>
            <input name="code" type="number" ng-model="ctrler.code" ng-model-options="{ debounce : 200 }" required ng-minlength="3" ng-maxlength="3">
        </div>
        <div class="flex-row">
            <label style="width: 20%;">年度</label>
            <div class="input-group" style="width:20%;">
                <input type="text" name="downloadAWDate" class="form-control input-md" uib-datepicker-popup="yyyy" datepicker-options="{ datepickerMode: 'year', minMode: 'year', showWeeks: false }" ng-model="ctrler.downloadAWDate" is-open="ctrler.downloadAWDateSelOpened" required close-text="關閉" clear-text="清除" current-text="今年"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrler.downloadAWDateSelOpened=true;"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" ng-click="ctrler.downloadAWFile()" ng-disabled="ctrler.isProcessing || awSubmitForm.downloadAWDate.$invalid">下載</button>
        </div>
    </form>
</div>