<style>
.fl-col1 {
  width: 10%;
}
.fl-col2 {
  width: 15%;
}
.fl-col3 {
  width: 40%;
}
.fl-col4 {
  width: 15%;
}
.fl-col5 {
  width: 15%;
}
.fl-col6 {
  width: 5%;
}

</style>
<div class="modal-header">
  <h4 style="margin: 5px;">暫存農夫列表</h4>
</div>
<div class="modal-body">
  <table class="table-responsive table table-striped table-bordered">
    <tbody>
      <tr>
        <th class="fl-col1">姓名</th>
        <th class="fl-col2">身分證字號</th>
        <th class="fl-col3">地址</th>
        <th class="fl-col4">住家電話</th>
        <th class="fl-col5">行動電話</th>
        <th class="fl-col6"></th>
      </tr>
      <!-- use collaspable ui to show detail -->
      <tr ng-repeat="farmer in ctrler.farmers track by farmer.pid">
          <td class="fl-col1">{{::farmer.name}}</td>
          <td class="fl-col2">{{::farmer.pid}}</td>
          <td class="fl-col3">{{::farmer.addr}}</td>
          <td class="fl-col4">{{::farmer.teleNum1}}</td>
          <td class="fl-col5">{{::farmer.teleNum2}}</td>
          <td class="fl-col6"><button ng-click="ctrler.rmFarmerFromList(farmer)" type="button" class="btn btn-danger"><i class="fa fa-times"></i>移除</button></td>
      </tr>
    </tbody>
  </table>
</div>


