<form class="form-horizontal" name="RegisterForm" id="RegisterForm" ng-show="!ctrler.showRegisterTable">
<fieldset>
<!-- Form Name -->
<legend>農民註冊表單</legend>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">姓名</label>
  <div class="col-md-4">
    <input name="farmerName" ng-model="ctrler.farmerName" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md" required>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">身份證字號</label>
  <div class="col-md-4">
    <input name="pid" ng-model="ctrler.pid" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md" legalpid>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">住家電話</label>
  <div class="col-md-4">
    <input name="tele1" ng-model="ctrler.tele1" ng-model-options="{ debounce: 500 }" type="text" placeholder="" class="form-control input-md">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">行動電話</label>
  <div class="col-md-4">
    <input name="tele2" ng-model="ctrler.tele2" ng-model-options="{ debounce: 500 }" type="text" placeholder="" class="form-control input-md">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="geoSelectors">地址</label>
  <div class="col-md-5">
    <div class="row-offset-2" style="margin-top:7px;" id="geoSelectors">
      直轄縣市
      <select style="min-width:20%;" ng-init="ctrler.getCities()" ng-model="ctrler.citySelect" ng-model-options="{ debounce: 100 }" ng-change="ctrler.selectOnChange('dists',ctrler.citySelect,'AddrPrefix')" required>
        <option ng-repeat="city in ctrler.cities track by city._id" value="{{::city._id}}")>{{::city.name}}</option>
      </select>
      鄉鎮市區
      <select style="min-width:20%;" name="dist" ng-model="ctrler.distSelect" ng-change="ctrler.selectOnChange('villages',ctrler.distSelect,'Village')" ng-model-options="{ debounce: 100 }" required>
        <option ng-repeat="dist in ctrler.dists track by dist._id" value="{{::dist._id}}")>{{::dist.dist}}</option>
      </select><br>
      村里
      <select name="village" style="min-width:20%; margin-top: 5px;" ng-model="ctrler.villageSelect" ng-model-options="{ debounce: 100 }" required>
        <option ng-repeat="village in ctrler.villages track by village._id" value="{{::village._id}}")>{{::village.name}}</option>
      </select>
    </div>
    
    <input style="margin-top:5px;" name="addrRest" ng-model="ctrler.addrRest" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md" required>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4 col-md-offset-5">
    <button class="btn btn-primary" ng-click="ctrler.showRegisterTable = true; ctrler.refreshData();" ng-disabled="RegisterForm.$invalid">確認</button>
  </div>
</div>
</fieldset>
</form>

<div class="table-responsive" ng-show="ctrler.showRegisterTable">
  <table class="table table-striped table-bordered" style="width: 80%; margin: 0px auto 20px;">
    <tbody>
      <tr>
          <td class="fr-col1">姓名</td>
          <td class="fr-col2">{{ctrler.farmerName}}</td>
      </tr>
      
      <tr>
          <td class="fr-col1">身分證字號</td>
          <td class="fr-col2">{{ctrler.pid}}</td>
      </tr>

      <tr>
          <td class="fr-col1">村里</td>
          <td class="fr-col2">{{ctrler.farmerVillage}}</td>
      </tr>

      <tr>
          <td class="fr-col1">住家電話</td>
          <td class="fr-col2">{{ctrler.tele1}}</td>
      </tr>
      
      <tr>
          <td class="fr-col1">行動電話</td>
          <td class="fr-col2">{{ctrler.tele2}}</td>
      </tr>
      

      <tr>
          <td class="fr-col1">地址</td>
          <td class="fr-col2">{{ctrler.farmerAddr}}</td>
      </tr>

    </tbody>
    
  </table>

  <!-- Button (Double) -->
  <div class="form-group">
    <div class="col-md-8 col-md-offset-5">
      <button class="btn btn-warning" ng-click="ctrler.showRegisterTable = false;">修改</button>
      <button class="btn btn-success" ng-click="ctrler.registerFarmer()" ng-disabled="ctrler.isRegistering">提交</button>
    </div>
  </div>

</div>
