<div class="container">

<form class="form-horizontal" name="RegisterForm" id="RegisterForm" ng-show="!ctrler.showRegisterTable">
<!-- register form -->
<legend>農民註冊表單</legend>
  <table class="table" style="margin:0px auto; width:85%;">
    <tr>
        <td style="width: 12%;">姓名</td>
        <td style="width: 32%;">
            <input name="farmerName" ng-model="ctrler.farmerName" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md" required>
        </td>
        <td style="width: 15%;">預設提款帳號</td>
        <td>
            <input name="ioAccount" ng-model="ctrler.ioAccount" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md" required>
        </td>
    </tr>
    <tr>
        <td>生日</td>
        <td>
            <div class="input-group">
              <input type="text" class="form-control input-md" uib-datepicker-popup="yyyy/MM/dd" ng-model="ctrler.birth" is-open="ctrler.birthSelOpened" required close-text="關閉" clear-text="清除" current-text="今天"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrler.birthSelOpened=true;"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
        </td>
        <td>住家電話</td>
        <td>
            <input name="tele1" ng-model="ctrler.tele1" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md">
        </td>
    </tr>
    <tr>
        <td>身分證字號</td>
        <td>
            <input name="pid" ng-model="ctrler.pid" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md" legalpid>
        </td>
        
        <td>行動電話</td>
        <td>
            <input name="tele2" ng-model="ctrler.tele2" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md">
        </td>
    </tr>
    <tr>
        <td>地址</td>
        <td colspan="3">
                <label>
                  直轄縣市<select style="min-width:90px;" name="city" ng-init="ctrler.getCities()" ng-options="city as city.name for city in ctrler.cities track by city._id" ng-model="ctrler.citySelect" ng-model-options="{ debounce: 300 }" ng-change="ctrler.selectOnChange('dists',ctrler.citySelect._id)" required></select>
                </label>
          
                <label>
                  鄉鎮市區<select style="min-width:90px;" name="dist" ng-options="dist as dist.dist for dist in ctrler.dists track by dist._id" ng-model="ctrler.distSelect" ng-model-options="{ debounce: 300 }" ng-change="ctrler.selectOnChange('villages',ctrler.distSelect._id)" required></select>
                </label>
          
                <label>
                  村里<select style="min-width:90px;" name="village" ng-options="village as village.name for village in ctrler.villages track by village._id" ng-model="ctrler.villageSelect" ng-model-options="{ debounce: 300 }" required></select>
                </label>
            <input class="form-control" name="addrRest" ng-model="ctrler.addrRest" ng-model-options="{ debounce: 200 }" type="text" placeholder="縣市鄉鎮以下的細節（路名,牌號等等）" required>
        </td>
    </tr>
  
  </table>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-5">
      <button class="btn btn-primary" ng-click="ctrler.showRegisterTable = true; ctrler.refreshData();" ng-disabled="RegisterForm.$invalid">確認</button>
    </div>
  </div>
</form>


<!-- confirm table -->
<style>
.farmer-register-col1 {
  width: 30%;
}

.farmer-register-col2 {
  width: 70%;
}
</style>
<div class="table-responsive" ng-show="ctrler.showRegisterTable">
  <table class="table table-striped table-bordered" style="width: 85%; margin: 0px auto 10px;;">
    <tr>
        <td style="width: 12%;">姓名</td>
        <td style="width: 25%;">
            {{ctrler.farmerName}}
        </td>
        <td style="width: 15%;">預設提款帳號</td>
        <td>
            {{ctrler.ioAccount}}
        </td>
    </tr>
    <tr>
        <td>生日</td>
        <td>
            {{ctrler.birth | date : 'yyyy/MM/dd'}}
        </td>
        <td>住家電話</td>
        <td>
            {{ctrler.tele1}}
        </td>
    </tr>
    <tr>
        <td>身分證字號</td>
        <td>
            {{ctrler.pid}}
        </td>
        
        <td>行動電話</td>
        <td>
            {{ctrler.tele2}}
        </td>
    </tr>
    <tr>
        <td>村里</td>
        <td>{{ctrler.villageSelect.name}}</td>
        <td>地址</td>
        <td>
           {{ctrler.fullAddr}}
        </td>
    </tr>
  
  </table>

  <!-- Button (Double) -->
  <div class="form-group">
    <div class="col-md-8 col-md-offset-5">
      <button class="btn btn-success" ng-click="ctrler.registerFarmer()" ng-disabled="ctrler.isRegistering">提交</button>
      <button class="btn btn-warning" ng-click="ctrler.showRegisterTable = false;">修改</button>
    </div>
  </div>

</div>
</div> <!-- /div.container -->
