<div class="container">
<button type="button" class="btn btn-default" ng-click="ctrler.isCollapsed = !ctrler.isCollapsed">{{ctrler.isCollapsed? "開啟搜尋頁面": "關閉搜尋頁面"}}</button>
<hr>
<div class="well well-lg" uib-collapse="ctrler.isCollapsed">
  <form class="form-horizontal" name="RegisterForm" id="RegisterForm" ng-show="!ctrler.showRegisterTable">
  <fieldset>
  <!-- Form Name -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">姓名</label>
    <div class="col-md-4">
      <input name="farmerName" ng-model="ctrler.farmerName" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">身份證字號</label>
    <div class="col-md-4">
      <input name="pid" ng-model="ctrler.pid" ng-model-options="{ debounce: 200 }" type="text" placeholder="" class="form-control input-md">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">電話</label>
    <div class="col-md-4">
      <input name="tele" ng-model="ctrler.tele" ng-model-options="{ debounce: 500 }" type="text" placeholder="" class="form-control input-md">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="geoSelectors">地址</label>
    <div class="col-md-8">
      <div class="row-offset-2" style="margin-top:7px;" id="geoSelectors">
        直轄縣市
        <select style="min-width:90px;" ng-init="ctrler.getCities()" ng-model="ctrler.citySelect" ng-model-options="{ debounce: 100 }" ng-change="ctrler.selectOnChange('dists',ctrler.citySelect,'AddrPrefix')">
          <option value=""></option>
          <option ng-repeat="city in ctrler.cities track by city._id" value="{{::city._id}}")>{{::city.name}}</option>
        </select>
        鄉鎮市區
        <select style="min-width:90px;" name="dist" ng-model="ctrler.distSelect" ng-change="ctrler.selectOnChange('villages',ctrler.distSelect,'Village')" ng-model-options="{ debounce: 100 }">
          <option value=""></option>
          <option ng-repeat="dist in ctrler.dists track by dist._id" value="{{::dist._id}}")>{{::dist.dist}}</option>
        </select>
        村里
        <select name="village" style="min-width:90px; margin-top: 5px;" ng-model="ctrler.villageSelect" ng-model-options="{ debounce: 100 }">
          <option value=""></option>
          <option ng-repeat="village in ctrler.villages track by village._id" value="{{::village._id}}")>{{::village.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-5">
      <button class="clickable btn btn-primary" ng-click="ctrler.search();" ng-disabled="ctrler.isSearching">搜尋</button>
    </div>
  </div>
  </fieldset>
  </form>
</div>
<!-- confirm table -->
<style>
.farmer-search-col1 {
  width: 10%;
}
.farmer-search-col2 {
  width: 20%;
}
.farmer-search-col3 {
  width: 40%;
}
.farmer-search-col4 {
  width: 15%;
}
.farmer-search-col5 {
  width: 15%;
}

.table-hover tbody tr:hover td{
  background-color: #c9d4e2;
}

</style>
<legend>搜尋結果</legend>
<div class="table-responsive" ng-show="ctrler.farmers && ctrler.farmers.length > 0">
  <table class="table table-bordered table-hover" style="margin: 0px auto 20px;">
    <tbody>
      <tr>
        <th class="farmer-search-col1">姓名</th>
        <th class="farmer-search-col2">身分證字號</th>
        <th class="farmer-search-col3">地址</th>
        <th class="farmer-search-col4">住家電話</th>
        <th class="farmer-search-col5">行動電話</th>
      </tr>
      <!-- use collaspable ui to show detail -->
      <tr class="clickable" ui-sref="farmerDetail({farmerPID: farmer.pid})" ng-repeat="farmer in ctrler.farmers track by farmer.pid">
          <td class="farmer-search-col1">{{::farmer.name}}</td>
          <td class="farmer-search-col2">{{::farmer.pid}}</td>
          <td class="farmer-search-col3">{{::farmer.addr}}</td>
          <td class="farmer-search-col4">{{::farmer.teleNum1}}</td>
          <td class="farmer-search-col5">{{::farmer.teleNum2}}</td>
      </tr>

    </tbody>
    
  </table>

</div>
</div> <!-- /div.container -->